@import "tailwindcss";

@theme {
  --color-tala-50: #e6f9f5;
  --color-tala-100: #ccf3eb;
  --color-tala-200: #99e7d7;
  --color-tala-300: #66dbc3;
  --color-tala-400: #33cfaf;
  --color-tala-500: #00c39b;
  --color-tala-600: #00a784;
  --color-tala-700: #008b6d;
  --color-tala-800: #006f56;
  --color-tala-900: #00533f;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}
